body {
	background-color: #eae2b7;
	height: 100%;
  	padding: 0;
  	margin: 0;
	text-align: center;
	font-family: 'Londrina Solid', cursive;

}

div {
	position:fixed;
	width:50%;
	height:50%
}

#titleBox{
	top: 0;
	left:0;
}
#orderBox{
	top: 0;
	left: 50%;
}
#menuBox{
	top: 50%;
	left: 0;
}
#billBox {
	top: 50%;
	left:50%;
}

.title1{
	color: #d62828;
	font-size: 180px;
	margin: 0;
}

.title2{
	text-align: center;
	color: #fcbf49;
	font-size: 115px;
	margin:0;
	margin-top: -0.5em;
}

.menu {
	color: #003049;
	margin-left: 75px;
	text-align: left;
	font-size: 35px;
}

.menu-title {
	color: #003049;
	text-align: left;
	font-size: 40px;
	margin-top:-0.15em;
}
.order, .bill {
	color: #003049;
	font-size: 25px;

}
 .order-title, .bill-title
{
	color: #003049;
	font-weight: bold;
	font-size: 40px;


}
